arrow==0.15.5
asgiref==3.2.3
beautifulsoup4==4.8.2
bibtexparser==1.1.0
bs4==0.0.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
coverage==5.0.3
cryptography==2.8
Django==3.0.3
django-publications==1.0.0
future==0.18.2
idna==2.8
Pillow==7.0.0
pycparser==2.19
pyOpenSSL==19.1.0
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
scholarly==0.2.5
selenium==3.141.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
urllib3==1.25.8
whatever==0.6
