<h3 style="text-align: center;">Profile Search</h3>

<form method='POST', action = "{% url 'searchAuthors' %}">
	{% csrf_token %}
	<h1>hello</h1>
	<input type = 'text',, name = 'keyword'>
	<input type= 'submit'>

</form>

{% for auth,profile_link in author%}
	<div>
	<form method = "POST" action="">
		{% csrf_token %}
		<p style="text-align: center;font-size: 35px",name= "authorName"> {{ auth }}
			
		</p>
		<a href = '{{ profile_link }}' >Original Profile </a>
		<!-- <input type = 'submit', value= 'Check Profile', placeholder = '{{ auth }}', name = 'authorName'> -->
		<a href="{% url 'SingleAuthor' authorName=auth %}" >checkoutProfile</a>
		<input type = 'submit', value= 'Check Profile'>
	</form>
	</div>
{% endfor %}