<style> 
	p {                                         
		margin-left: 70px; 
		font-weight: bold ; 
		clear: left; 
		width: 100px; 
		text-align: left; 
		margin-right: 10px; 
		font-family:sans-serif,bold, Arial, Helvetica; 
		font-size:14px; 
		text-decoration-color: white;
		
	} 
	 input[type=reset] {
	  background-color:#4CAF50;
	  border: none;
	  color:white;
	  padding: 10px 20px;
	  text-decoration: none;
	  margin: 4px 2px;
	  cursor: pointer;
	}
	input[type=button], input[type=submit]{
	 float:right;
	}
	input[type=button], input[type=submit]{
		background-color:#4CAF50;
	  border: none;
	  color:white;
	
	  align-items: flex-end;
	  padding: 10px 20px;
	  text-decoration: none;
	  margin: 4px 2px;
	  cursor: pointer;
	
	}
	div {  
		box-sizing: border-box; 
		width: 100%; 
		border:  solid black; 
		float: left; 
		align-content: center; 
		align-items: center; 
	} 
	   
	form {                                         
		margin: 0 auto; 
		width: 600px; 
		
		
	}
	table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  
  text-align: left;


}
	
	input[type=text] {
	
	  border: none;
	  border-bottom: 2px solid black;
	
	}
	
	input[type=text]:focus {
	  border: 3px solid white;
	}
    </style>
    <body bgcolor="#f1f1f1">
    <h1>{{ title }} </h1>
    <p style="float: right;"><a href="{{ eprint }}">Jmlr Paper pdf Version</a></p>
    <table align="center" width="100%">
        <tr>
            <td><p ><b>Abstract: </b></p></td>
            <td>{{ abstract }}</td>
        </tr>



    <td><p>journal:</p></td>
    <td> {{ journal }}</td>
</tr>

<tr>
    <td>  <p>pages:</p>  </td>
    <td><p> {{ pages }}</p></td>
</tr>
<tr>
    <td><p>Volume:</p></td>
    <td><p> {{ Volume }}</p></td>
</tr>
<tr>
    <td><p>year:</p></td>
    <td><p>] {{ year }}</p></td>

    </tr>
    <tr>
        <td>
            <p>citedby: </p>
        </td>
        <td>
            <p> {{ citedby }}</p>
        </td>
    </tr>
<tr>
    <td>
        <p>id_citations: </p>
    </td>
    <td>
        <p> {{ idCitations }}</p>
    </td>
</tr>
<tr>
    <td>
        <p>id_scholar_cited_by: </p>
    </td>
    <td>
        <p>{{ idScholarcitedby }}</p>
        </td>
</tr>

</table>

</body>




